body{
  background-color: #000000;
}
.form {
  background:  #050505;
  border: 2px solid #37a69b;
  border-radius: 6px;
  height: auto;
  margin: 20px auto 0;
  width: 298px;
  padding-bottom: 10px;
}

input[type="submit"] {
  width:240px;
  height:35px;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 29px;
  border-color:#16A085;
  background-color: #37a69b;
  
}


.inputs{
color:#fff;
  
  border: 2px solid #37a69b;
  border-radius: 4px;
  
   /*box-sizing: border-box;*/
  color: #000;
  height: 39px;
  margin: 31px 0 0 29px;
  font-size: 1.3em;
  width: 240px;
}
.title{
  font-size: 2em;
  text-align: center;
  color: #37a69b;
}
.tmenu{
  position: fixed;

}
.navtop{

  padding: 50px 0px 30px 0px;
    }
.navtop ul li { 
  padding:20px 2  0px;
  display:inline-block;
  margin-right: 2px;
  
 }
.navtop li a{
  background-color:#37a69b;
  text-decoration: none;
  color:#FFF;
  font-size:1.5em;
  padding:20px 40px;
  transition: all 0.5s ease-in-out;  
}
h1{
  color:#fff;
  padding: 50px;
  text-align: center;
  /*font-size: 3em; */
  
}